Repository nathanaelhub/portfolio-optimization-dashboard: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Portfolio Optimization Engine, Portfolio Analytics, Market Data Services, React Components, Data Visualizations

codecov.yml:

# Codecov configuration for portfolio optimization dashboard

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
        base: auto
        branches:
          - main
          - develop
    patch:
      default:
        target: 85%
        threshold: 5%
        base: auto

  precision: 2
  round: down
  range: "70...100"

  ignore:
    - "backend/app/migrations/"
    - "backend/tests/"
    - "frontend/src/tests/"
    - "frontend/src/**/*.test.ts"
    - "frontend/src/**/*.test.tsx"
    - "frontend/src/**/*.spec.ts"
    - "frontend/src/**/*.spec.tsx"
    - "frontend/src/setupTests.ts"
    - "frontend/src/reportWebVitals.ts"
    - "e2e/"
    - "**/*.d.ts"
    - "**/node_modules/"
    - "**/venv/"
    - "**/__pycache__/"

flags:
  backend:
    paths:
      - backend/app/
    carryforward: true
    
  frontend:
    paths:
      - frontend/src/
    carryforward: true

component_management:
  individual_components:
    - component_id: backend_optimization
      name: Portfolio Optimization Engine
      paths:
        - backend/app/services/optimization.py
        - backend/app/services/advanced_optimization.py
      flag_regexes:
        - backend
      
    - component_id: backend_analytics
      name: Portfolio Analytics
      paths:
        - backend/app/services/portfolio_analytics.py
      flag_regexes:
        - backend
        
    - component_id: backend_data
      name: Market Data Services
      paths:
        - backend/app/services/market_data.py
        - backend/app/services/data_pipeline.py
      flag_regexes:
        - backend
        
    - component_id: frontend_components
      name: React Components
      paths:
        - frontend/src/components/
      flag_regexes:
        - frontend
        
    - component_id: frontend_visualizations
      name: Data Visualizations
      paths:
        - frontend/src/components/visualizations/
      flag_regexes:
        - frontend

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

Remove failing GitHub Actions workflows
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/LoadingComponents.tsx
  frontend/src/components/OptimizationComparison.test.tsx
  frontend/src/components/OptimizationComparison.tsx
  frontend/src/components/PortfolioPieChart.tsx
  frontend/src/components/loading/LoadingButton.tsx
  frontend/src/components/loading/LoadingExamples.tsx
  frontend/src/components/loading/LoadingSkeleton.tsx
  frontend/src/components/loading/LoadingSpinner.tsx
  frontend/src/components/loading/PortfolioLoadingStates.tsx
  frontend/src/components/loading/ProgressIndicator.tsx
  frontend/src/components/loading/README.md
  frontend/src/components/loading/SuccessToast.tsx
  frontend/src/components/loading/index.ts
  frontend/src/components/loading/loading-animations.css
  frontend/src/components/visualizations/PortfolioPieChart.example.tsx
  frontend/src/components/visualizations/PortfolioPieChart.tsx
  frontend/src/components/visualizations/index.ts
  frontend/src/hooks/usePerformanceOptimizations.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/services/featureFlags.ts
  frontend/test-index.html
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: frontend, React Components, Data Visualizations

Fix Docker deployment and add portfolio features
  DEPLOYMENT.md
  README.md
  backend/app/database/connection.py
  backend/app/main.py
  backend/render.yaml
  deploy-production.sh
  frontend/src/App.tsx
  frontend/src/components/MetricsGrid.tsx
  frontend/src/components/PortfolioGrowthChart.tsx
  frontend/vercel.json
  netlify.toml
  note.txt
Due: backend, frontend, React Components

main directory organization
  docker-compose.yml
Due: none

Complete frontend overhaul with working stock selection and optimization
  backend/app/routers/portfolio_v2.py
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/StockSelector.tsx
  frontend/vite.config.ts
Due: backend, frontend, React Components

🎨 Complete Professional Financial Dashboard Redesign
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/ProfessionalDashboard.tsx
  frontend/src/components/MetricsCard.tsx
  frontend/src/components/OptimizationPanel.tsx
  frontend/src/components/PerformanceChart.tsx
  frontend/src/components/ProfessionalPieChart.tsx
  frontend/src/components/RiskMetricsGrid.tsx
  frontend/src/index.css
Due: frontend, React Components

UI update
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/vite.config.ts
Due: frontend
